#screen {
    /* background: grey; */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: url("background/battlefield.jpg");
    background-size: cover;
}

*,*::before,*::after{
    padding:0;
    margin:0;
    box-sizing: border-box
}
button {
    outline: none;
}
.wave {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    color: #FFFFFF;
}
h4 {
    font-family: 'Unica One', cursive;
    
}
body {
    background-color: black;
}
input {
    border: none;
    outline: none;
}

.characterHP, .enemyHP {
    width: 150px;
    background-color:#4c6af0;
    border: 2px solid white;
    color: #FFFFFF;
    height: 100%;
    
  }

.slimeHpBar, .dinoHpBar, .snakeHpBar, .mageHpBar, .archerHpBar,.warHpBar, .lizHpBar, .dragHpBar  {
    width: 100%;
    height: 15px;
    border: 2px solid white;
    background-color: #4CAF50;
  }  

.menus {
    display: flex;
    justify-content: space-between;
    border: 8px solid gray;
    width: 800px;
    margin: 0 auto;
    
}
.characterMenu {
    display: flex;
  }

.mageAttkBar, .archerAttkBar, .warAttkBar, .dinoAttkBar, .slimeAttkBar, .snakeAttkBar, .lizAttkBar, .dragAttkBar{
    width: 1%;
    height: 7.5px;
    background-color: red;
}
.currentTarget {
    color: #FFFFFF;
    position: relative;
    right: 18%;
    font-family: 'Major Mono Display', monospace;
}

.lizAttkBar, .lizHpBar, .dragAttkBar, .dragHpBar, .dragon, .lizard {
    display: none;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 3; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@keyframes healFlash {
    from { background-color: green;}
    to { background-color: black;}
}
@keyframes readyFlash {
    from { background-color:rgb(240, 6, 6);}
    to { background-color: yellow;}
}

#splashScreen {

    height: 100vh;
    text-align: center;
    /* position: absolute; */
    animation: fadein 5s;

}

.container {
    display: none;
    animation: fadein 5s;
}
.title {
    padding: 25px;
    
}
.splash-content {
    margin: 20px;
}
.title, .splash-content, .sireMsg {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Bungee Inline', cursive;

}
#startButton {
    margin: 90px;
    position: relative;
    font-size: 45px;
    font-family: 'Black Ops One', cursive;
    padding: 25px;
    border-radius: 25%;
}
#startButton:hover, #playAgainButton:hover {
    background-color: #f50a0a;
    color: white;
  }

.specialBar, .healBar {
    width: 1%;
    height: 5px;
    background-color: rgb(252, 236, 17);
    margin: 2px;
}

.winner, .loser {
    display: none;
    margin: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Bungee Inline', cursive;

  }
#playAgainButton {
    display: none;
    margin: 90px;
    position: relative;
    font-size: 45px;
    font-family: 'Black Ops One', cursive;
    padding: 25px;
    border-radius: 25%;
}