#screen {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: url("background/battlefield.jpg");
    background-size: cover;
}

*,*::before,*::after{
    padding:0;
    margin:0;
    box-sizing: border-box
}
button {
    outline: none;
}

.wave {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    color: #FFFFFF;
}

h4 {
    font-family: 'Unica One', cursive;
    
}

body {
    background-color: black;
}

input {
    border: none;
    outline: none;
}

.characterHP, .enemyHP {
    width: 150px;
    background-color:#4c6af0;
    border: 2px solid white;
    color: #FFFFFF;
    height: 100%;
    
}

.slimeHpBar, .dinoHpBar, .snakeHpBar, .mageHpBar, .archerHpBar,.warHpBar, .lizHpBar, .dragHpBar  {
    width: 100%;
    height: 20px;
    border: 2px solid white;
    background-color: #4CAF50;
}  

.menus {
    display: flex;
    justify-content: space-between;
    border: 8px solid gray;
    width: 800px;
    margin: 0 auto;
    
}

.characterMenu {
    display: flex;
}

.mageAttkBar, .archerAttkBar, .warAttkBar, .dinoAttkBar, .slimeAttkBar, .snakeAttkBar, .lizAttkBar, .dragAttkBar{
    width: 1%;
    height: 7.5px;
    background-color: red;
}

.currentTarget {
    color: red;
    font-family: 'Black Ops One', cursive;
}

.targeting {
    color: #FFFFFF;
    font-family: 'Major Mono Display', monospace;
}

.lizAttkBar, .lizHpBar, .dragAttkBar, .dragHpBar, .dragon, .lizard {
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 3; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes healFlash {
    from { background-color: green;}
    to { background-color: black;}
}

@keyframes readyFlash {
    from { background-color:rgb(240, 6, 6);}
    to { background-color: yellow;}
}

#splashScreen {
    height: 100vh;
    text-align: center;
    animation: fadein 5s;

}

.container {
    display: none;
    animation: fadein 5s;
}

.title {
    padding: 25px;
    
}

.splash-content {
    margin: 20px;
}

.title, .splash-content, .sireMsg {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Bungee Inline', cursive;

}

.sireMsg {
    color:#f00909
}

#startButton {
    margin: 0 auto;
    position: relative;
    font-size: 40px;
    font-family: 'Black Ops One', cursive;
    padding: 20px;
    border-radius: 30%;
    display: block;
}

#startButton:hover, #playAgainButton:hover, #howToPlay:hover, .musicPlay:hover, .musicPause:hover {
    background-color: #f50a0a;
    color: white;
}

.musicPlay, .musicPause {
    font-family: 'Black Ops One', cursive;
}

.specialBar, .healBar {
    width: 1%;
    height: 5px;
    background-color: rgb(252, 236, 17);
    margin: 2px;
}

.winner, .loser {
    display: none;
    margin: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Bungee Inline', cursive;

}

#playAgainButton {
    display: none;
    margin: 90px;
    position: relative;
    font-size: 45px;
    font-family: 'Black Ops One', cursive;
    padding: 25px;
    border-radius: 25%;
}

.idleWar {
    margin: -40px;
}

.targets {
    flex: 0 70%;
    text-align: center;
}

#howToPlay {
    font-family: 'Black Ops One', cursive;
    font-size: 15px;
    margin: 10px;
    border-radius: 27%;
    padding: 8px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    text-align: left;
}
  
.insideModal {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    font-family: 'Black Ops One', cursive;
    font-size: 15px;
}

.modalTitle {
    font-size: 29px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.targetBox {
    display: grid;
    float: right;
}

.abilities {
    float: right;
}

h2 {
  color: red;  
}